<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Medical SMS ::</title>
<link href="css/style.css"  rel="stylesheet" type="text/css" />
<link href="css/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form name="login" action="?do=validforgetpassword" method="post">

<div id="login_div">
  <div class="login-top"></div>
  <div class="login-center">
    <ul class="login-list">
    <!--  <li style="padding-bottom:15px; margin-left:70px;">
        <input type="radio" />
        Admin
        <input type="radio" />
        Accounts
        <input type="radio" />
        Marketing</li>-->
<AJDF:output>if $smarty.session.errmsg != ''</AJDF:output>
      <li>
        <div class="error_div"><img src="images/Close.png" width="16" height="16" alt="error" /><b><AJDF:output>$smarty.session.errmsg</AJDF:output></b></div>
      </li>
<AJDF:output>/if</AJDF:output>

      <li>
        <p>Enter Your Email Id</p>
      </li>
      <li>
        <input type="text" class="inputbx" name="email" />
	 <p><font color="Red"><AJDF:output>$errmsg.email</AJDF:output></font></p>
      </li>
      
      
      <li><a href="#">
        <input type="submit" class="submit-btn" value=" " />
        </a></li>
      <!--<li><a href="?do=forgotpassword" class="forgot-password"></a></li>-->
    </ul>
  </div>

  <div class="login-bottom"></div>
</div>

</form>
</body>
</html>